<div class="container mt-4">
    <h1 class="mb-4">Restaurant FastFood</h1>
    
    <h2>Pedidos Ingresados</h2>
    <ul class="list-group mb-4">
      <li *ngFor="let pedido of pedidosIngresados$ | async" class="list-group-item">
        {{ '{' }} "nombre": "{{pedido.name}}", "descripcion": "{{pedido.description}}", "numero": {{pedido.number}} {{ '}' }}
      </li>
    </ul>
    
    <div class="row">
      <div class="col-md-4">
        <app-pos></app-pos>
      </div>
      <div class="col-md-4">
        <app-kitchen></app-kitchen>
      </div>
      <div class="col-md-4">
        <app-delivery-point></app-delivery-point>
      </div>
    </div>
  </div>
